#homeTitle {
  background-color: rgb(168, 168, 172);
}

#homeMain {
  h1 {
    font-size: large;
  }
  .highlight {
    background-color: yellow;
  }
}

#homeHeader {
  .highlight {
    background-color: yellow;
  }
}
